In [1]:
import matplotlib as mpl
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt

In [13]:
earthquake_df = pd.read_csv('file:///Users/audreynosenga/Desktop/all_month.csv')
earthquake_df.describe()

,latitude,longitude,depth,mag,nst,gap,dmin,rms,horizontalError,depthError,magError,magNst
count,8623.000000,8623.000000,8623.000000,8623.000000,6203.000000,7228.000000,5656.000000,8623.000000,6330.000000,8622.000000,6919.000000,7219.000000
mean,37.054058,-108.285298,23.541292,1.537389,19.979204,123.820705,0.720915,0.280002,1.846943,3.646842,0.276316,15.401995
std,19.823248,70.392278,58.955886,1.343885,16.935117,67.717041,2.297009,0.293635,3.169963,51.498950,0.554549,32.425936
min,-65.196300,-179.971500,-3.470000,-1.380000,2.000000,11.000000,0.000000,0.000000,0.080000,0.000000,0.000000,0.000000
25%,33.346417,-149.924350,4.220000,0.680000,8.000000,72.000000,0.032410,0.093750,0.260000,0.490000,0.101000,4.000000
50%,37.813333,-118.924100,8.740000,1.270000,14.000000,108.000000,0.074000,0.152500,0.490000,0.830000,0.161000,7.000000
75%,51.672000,-113.988583,15.965000,2.070000,26.000000,159.000000,0.212025,0.380000,1.250000,1.900000,0.240000,15.000000
max,86.633700,179.990100,641.480000,7.200000,202.000000,357.100000,32.297000,4.530000,29.440000,3699.800000,5.680000,627.000000

In [14]:
earthquake_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8623 entries, 0 to 8622
Data columns (total 22 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   time             8623 non-null   object
 1   latitude         8623 non-null   float64
 2   longitude        8623 non-null   float64
 3   depth            8623 non-null   float64
 4   mag              8623 non-null   float64
 5   magType          8623 non-null   object
 6   nst              6203 non-null   float64
 7   gap              7228 non-null   float64
 8   dmin             5656 non-null   float64
 9   rms              8623 non-null   float64
 10  net              8623 non-null   object
 11  id               8623 non-null   object
 12  updated          8623 non-null   object
 13  place            8623 non-null   object
 14  type             8623 non-null   object
 15  horizontalError  6330 non-null   float64
 16  depthError       8622 non-null   float64
 17  magError         6919 non-null   float64
 18  magNst           7219 non-null   float64
 19  status           8623 non-null   object
 20  locationSource   8623 non-null   object
 21  magSource        8623 non-null   object
dtypes: float64(12), object(10)
memory usage: 1.4+ MB

In [16]:
display(earthquake_df)

,time,latitude,longitude,depth,mag,magType,nst,gap,dmin,rms,...,updated,place,type,horizontalError,depthError,magError,magNst,status,locationSource,magSource
0,2022-06-13T02:23:50.618Z,64.810800,-150.968800,12.800000,1.00,ml,NaN,NaN,NaN,0.31,...,2022-06-13T02:25:50.343Z,"26 km SW of Manley Hot Springs, Alaska",earthquake,NaN,0.40,NaN,NaN,automatic,ak,ak
1,2022-06-13T02:04:01.150Z,19.251499,-155.383163,30.870001,2.32,ml,45.0,137.0,NaN,0.13,...,2022-06-13T02:09:33.040Z,"11 km ENE of Pāhala, Hawaii",earthquake,0.52,0.68,4.140000,14.0,automatic,hv,hv
2,2022-06-13T02:03:17.812Z,64.737600,-149.067700,16.900000,0.50,ml,NaN,NaN,NaN,0.10,...,2022-06-13T02:04:49.576Z,"15 km N of Four Mile Road, Alaska",earthquake,NaN,0.40,NaN,NaN,automatic,ak,ak
3,2022-06-13T01:28:54.920Z,33.488833,-116.487500,16.310000,0.74,ml,23.0,49.0,0.062090,0.22,...,2022-06-13T01:32:32.611Z,"19km ESE of Anza, CA",earthquake,0.41,0.79,0.191000,21.0,automatic,ci,ci
4,2022-06-13T01:26:51.840Z,17.987000,-66.979333,6.930000,1.81,md,4.0,158.0,NaN,0.06,...,2022-06-13T01:43:55.810Z,"6 km W of Fuig, Puerto Rico",earthquake,1.49,1.17,0.083068,4.0,reviewed,pr,pr
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8618,2022-05-14T02:53:06.460Z,35.538000,-117.420667,3.510000,1.08,ml,29.0,59.0,0.047600,0.14,...,2022-05-15T18:24:54.879Z,"25km ESE of Ridgecrest, CA",earthquake,0.19,0.39,0.164000,11.0,reviewed,ci,ci
8619,2022-05-14T02:37:24.170Z,36.783667,-121.521667,7.780000,0.90,md,22.0,52.0,0.037750,0.16,...,2022-05-21T04:14:10.763Z,"7km SSE of San Juan Bautista, CA",earthquake,0.46,0.65,0.166000,15.0,reviewed,nc,nc
8620,2022-05-14T02:33:33.510Z,38.780666,-122.765831,1.980000,0.36,md,8.0,106.0,0.009931,0.02,...,2022-05-14T02:44:11.655Z,"1km WNW of The Geysers, CA",earthquake,0.56,0.87,NaN,1.0,automatic,nc,nc
8621,2022-05-14T02:32:38.610Z,35.642833,-118.322333,8.040000,1.15,ml,30.0,78.0,0.057450,0.14,...,2022-05-15T18:18:47.702Z,"14km ENE of Lake Isabella, CA",earthquake,0.22,0.44,0.093000,12.0,reviewed,ci,ci
8622,2022-05-14T02:31:22.670Z,33.859000,-116.589000,15.370000,0.79,ml,48.0,43.0,0.047570,0.15,...,2022-05-15T18:13:52.600Z,"6km SW of Garnet, CA",earthquake,0.19,0.38,0.167000,21.0,reviewed,ci,ci