In [1]:
import numpy as np
import pandas as pd  
import matplotlib.pyplot as plt

ModuleNotFoundError: No module named 'numpy'

In [3]:
df = pd.read_csv('file:///Users/audreynosenga/Desktop/M1_final.csv')
df.describe()

,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,DEP_DELAY,CRS_ELAPSED_TIME,DISTANCE,CRS_DEP_M,DEP_TIME_M,CRS_ARR_M,Temperature,Humidity,Wind Speed,Wind Gust,Pressure,sch_dep,sch_arr,TAXI_OUT
count,28820.000000,28820.000000,28820.000000,28820.000000,28820.000000,28820.000000,28820.000000,28820.000000,28820.000000,28820.000000,28820.000000,28820.000000,28820.000000,28820.000000,28820.000000,28820.000000,28820.000000
mean,7.894240,16.021096,4.008952,6.374983,225.288203,1267.746079,831.003851,828.934698,910.874289,41.489833,57.732616,12.367627,5.535323,30.092433,31.091256,28.432130,20.858570
std,4.991723,8.750179,1.985230,38.735144,119.482417,889.343246,299.398525,305.864103,345.411743,8.043533,23.468676,6.259298,11.886457,0.296160,9.510359,8.263043,6.851915
min,1.000000,1.000000,1.000000,-22.000000,57.000000,94.000000,301.000000,1.000000,1.000000,17.000000,0.000000,0.000000,0.000000,29.200000,0.000000,0.000000,5.000000
25%,1.000000,8.000000,2.000000,-6.000000,124.000000,483.000000,545.000000,542.000000,667.000000,36.000000,46.000000,8.000000,0.000000,29.880000,26.000000,21.000000,16.000000
50%,11.000000,16.000000,4.000000,-3.000000,188.000000,1029.000000,856.000000,854.000000,918.000000,42.000000,59.000000,12.000000,0.000000,30.110000,30.000000,30.000000,19.000000
75%,12.000000,24.000000,6.000000,2.000000,365.000000,2248.000000,1095.000000,1097.000000,1193.000000,47.000000,74.000000,16.000000,0.000000,30.320000,37.000000,35.000000,25.000000
max,12.000000,31.000000,7.000000,1276.000000,697.000000,4983.000000,1439.000000,1440.000000,1439.000000,68.000000,97.000000,36.000000,49.000000,30.750000,55.000000,46.000000,41.000000

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28820 entries, 0 to 28819
Data columns (total 23 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   MONTH              28820 non-null  int64
 1   DAY_OF_MONTH       28820 non-null  int64
 2   DAY_OF_WEEK        28820 non-null  int64
 3   OP_UNIQUE_CARRIER  28820 non-null  object
 4   TAIL_NUM           28820 non-null  object
 5   DEST               28820 non-null  object
 6   DEP_DELAY          28820 non-null  int64
 7   CRS_ELAPSED_TIME   28820 non-null  int64
 8   DISTANCE           28820 non-null  int64
 9   CRS_DEP_M          28820 non-null  int64
 10  DEP_TIME_M         28820 non-null  int64
 11  CRS_ARR_M          28820 non-null  int64
 12  Temperature        28820 non-null  int64
 13  Dew Point          28820 non-null  object
 14  Humidity           28820 non-null  int64
 15  Wind               28818 non-null  object
 16  Wind Speed         28820 non-null  int64
 17  Wind Gust          28820 non-null  int64
 18  Pressure           28820 non-null  float64
 19  Condition          28820 non-null  object
 20  sch_dep            28820 non-null  int64
 21  sch_arr            28820 non-null  int64
 22  TAXI_OUT           28820 non-null  int64
dtypes: float64(1), int64(16), object(6)
memory usage: 5.1+ MB